<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Allow launcher to see installed apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Visual Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisualReminderLauncher">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!-- Settings Screen -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- App Selection Screen -->
        <activity
            android:name=".AppSelectionActivity"
            android:label="Select Apps"
            android:exported="false" />

    </application>

</manifest>
